button {
    color: white;
    background-color:rgb(86, 150, 167);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.6s;
  
    cursor: pointer;
    &:hover {
      color:rgb(86, 150, 167);
      border: 1px solid rgb(86, 150, 167);
      background-color: transparent;
    }
    &.bg-violet {
      background-color:violet;
      border: 1px solid violet;
  
      &:hover {
        background-color: transparent;
        color: violet;
      }
    }
  }